### <span style='color: red; font-family: Arial; font-si2e: 6em;'>DS Algorithm Tasks(Tuple,Set,Arrays)</span>

### Create a Tuple

In [6]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

### create a tuple with different data types

In [7]:
mixed_tuple = (1, 'Hello', 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

### create a tuple with numbers and print one item

In [8]:
numbers_tuple = (10, 20, 30, 40, 50)
print(numbers_tuple[2])

30

### unpack a tuple in several variables

In [9]:
my_tuple = (10, 'Hello', 3.14)
                                    
number, greeting, pi = my_tuple    # Unpacking in Tuple is imporant Akshay rememmber this

print("Number:", number)
print("Greeting:", greeting)
print("Pi:", pi)

Number: 10
Greeting: Hello
Pi: 3.14

### add an item in a tuple.

In [13]:
original_tuple = (1, 2, 3, 4)

new_tuple = original_tuple + (5,) # after 5 comma is to validate its tuple otherwise it will not consider as tuple

print("Original Tuple:", original_tuple)
print("New Tuple:", new_tuple)

Original Tuple: (1, 2, 3, 4)
New Tuple: (1, 2, 3, 4, 5)

### convert a tuple to a string

In [3]:
my_tuple = (10, 'Hello', 3.14)

str_tuple = str(my_tuple)
print(f"Original tuple is {my_tuple} and its type is {type(my_tuple)}")
print(f"Tuple converted into string is {str_tuple} and its type is {type(str_tuple)}")

Original tuple is (10, 'Hello', 3.14) and its type is <class 'tuple'>
Tuple converted into string is (10, 'Hello', 3.14) and its type is <class 'str'>

### get the 4th element and 4th element from last of a tuple

In [8]:
my_tuple = (1, 2, 3,[4.4, 'Fourth_one'] , 'hello', 4, 5, 6, {'name':'Akshay'}, 7, 8, 9.9)
fourth_element = my_tuple[3]
fourth_element_end = my_tuple[-4]
print(f"Fourth element is :{fourth_element}\nFourth element from last is :{fourth_element_end}\nSixth element is :{my_tuple[5]}")

Fourth element is :[4.4, 'Fourth_one']
Fourth element from last is :{'name': 'Akshay'}
Sixth element is :4

### create the clone of a tuple

In [9]:
my_tuple = (10, 'Hello', 3.14)
cloned_tuple = my_tuple[:]
print(f"Original tuple :{my_tuple}\nClonned  tuple :{cloned_tuple}")

Original tuple :(10, 'Hello', 3.14)
Clonned  tuple :(10, 'Hello', 3.14)

### find the repeated items of a tuple

In [10]:
my_tuple = (1, 2, 3, 2, 4, 5, 3, 6, 2)
element_counts = {}
repeated_items = set()

for item in my_tuple:
    if item in element_counts:
        repeated_items.add(item)
    else:
        element_counts[item] = 1

print(f"original tuple :{my_tuple}\nrepeated items :{repeated_items}")

original tuple :(1, 2, 3, 2, 4, 5, 3, 6, 2)
repeated items :{2, 3}

### check whether an element exists within a tuple

In [41]:
my_tuple = (1, 2, 'hello', 3, 4.44, 5)

element_to_find = input("Enter Element to find :")
##############################################################
try:
    element_to_find = int(element_to_find)
except ValueError:
    
    try:
        element_to_find = float(element_to_find)
    except ValueError:
        pass
##################################################################    
if element_to_find in my_tuple:
    print(f"The element '{element_to_find}' exists in tuple")
else:
    print(f"The element '{element_to_find}' does not exists in tuple")

Enter Element to find :2
The element '2' exists in tuple

### convert a list to a tuple

In [42]:
lst = [1, 2, 'hello', 3.14, 4,{'hi':'Akshay'}]
lst_tuple = tuple(lst)

print(f"Original list :{lst} of type {type(lst)}\nlist converted into tuple is :{lst_tuple} of type {type(lst_tuple)}")

Original list :[1, 2, 'hello', 3.14, 4, {'hi': 'Akshay'}] of type <class 'list'>
list converted into tuple is :(1, 2, 'hello', 3.14, 4, {'hi': 'Akshay'}) of type <class 'tuple'>

### remove an item from a tuple

In [2]:
my_tuple = (1, 2, 'hello', 3, 4.44, 5)
item_to_remove = 'hello'
new_tuple = tuple(x for x in my_tuple if x != item_to_remove)
print(f"Original tuple :{my_tuple}\nNew tuple after removing item :{new_tuple}")

Original tuple :(1, 2, 'hello', 3, 4.44, 5)
New tuple after removing item :(1, 2, 3, 4.44, 5)

### slice a tuple

In [3]:
my_tuple = (1, 2, 'hello', 3, 4.44, 5)
sliced_tuple = my_tuple[1:5]
print(f"Original tuple :{my_tuple}\nSliced tuple :{sliced_tuple}")

Original tuple :(1, 2, 'hello', 3, 4.44, 5)
Sliced tuple :(2, 'hello', 3, 4.44)

### find the index of an item of a tuple.

In [9]:
my_tuple = (1, 2, 'hello', 3, 4.44, 5)
index = my_tuple.index(4.44)
print(f"index is :{index}")

index is :4

### find the length of a tuple

In [10]:
my_tuple = (1, 2, 'hello', 3, 4.44, 5)
length = len(my_tuple)
print(f"length of tuple :{length}")

length of tuple :6

### convert a tuple to a dictionary

In [11]:
my_tuple = (('a', 1), ('b', 2), ('c', 3))
my_dict = dict(my_tuple)

print(f"Original tuple is {my_tuple} with data type {type(my_tuple)}")
print(f"tuple converted into dictionary is {my_dict} with data type {type(my_dict)}")

Original tuple is (('a', 1), ('b', 2), ('c', 3)) with data type <class 'tuple'>
tuple converted into dictionary is {'a': 1, 'b': 2, 'c': 3} with data type <class 'dict'>

### unzip a list of tuples into individual lists.

In [12]:
my_tuple = (('a', 1), ('b', 2), ('c', 3))

list1, list2 = zip(*my_tuple)

print(f"list1 is :{list1}\nlist2 is :{list2}")

list1 is :('a', 'b', 'c')
list2 is :(1, 2, 3)

### reverse a tuple.

In [14]:
my_tuple = (1, 2, 'hello', 3, 4.44, 5)

reversed_tuple = my_tuple[::-1]
print(f"Original tuple is :{my_tuple}\n reversed tuple is :{reversed_tuple}")

Original tuple is :(1, 2, 'hello', 3, 4.44, 5)
 reversed tuple is :(5, 4.44, 3, 'hello', 2, 1)

### convert a list of tuples into a dictionary

In [15]:
my_tuple = (('a', 1), ('b', 2), ('c', 3))
my_dict = dict(my_tuple)

print(f"Original tuple is {my_tuple} with data type {type(my_tuple)}")
print(f"tuple converted into dictionary is {my_dict} with data type {type(my_dict)}")

Original tuple is (('a', 1), ('b', 2), ('c', 3)) with data type <class 'tuple'>
tuple converted into dictionary is {'a': 1, 'b': 2, 'c': 3} with data type <class 'dict'>

### print a tuple with string formatting

In [18]:

my_tuple = ('apple', 'banana', 'cherry')
print("The tuple is: ({}, {}, {})".format(*my_tuple))

The tuple is: (apple, banana, cherry)

### replace last value of tuples in a list

In [3]:
my_tuple = (('a', 1), ('b', 2), ('c', 3))
new_value = 13
new_tuple = [t if t[0] != my_tuple[-1][0] else (t[0], new_value) for t in my_tuple]
print(f"new tuple is {new_tuple}")

new tuple is [('a', 1), ('b', 2), ('c', 13)]